* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Latto', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner.img.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

nav .fa-solid {
    display: none;
}

@media screen and (max-width:360px) {
    .text-box h1 {
        font-size: 20px;
    }
    .text-box img {
        width: 100px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

/* ----------- ASAL ----------- */
.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.about h1 {
    font-size: 36px;
    font-weight: 600;
}

.about p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: left;
}

.row h3 {
    text-align: center;
    font-size: 600;
    margin: 10px 0;
}

.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: 1s;
}

@media screen and (max-width: 360px) {
    .row {
        flex-direction: column;
    }
}

/* ---------- Jurusan ---------- */

.sertif {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.sertif h1 {
    font-size: 36px;
    font-weight: 600;
}

.sertif p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.sertif-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.sertif-col img {
    width: 100%;
    border-radius: 10px;
}

.sertif-col p {
    padding: 0;
}

.sertif-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 360px) {
    .row {
        flex-direction: column;
    }
}

/* ----------- call to action ----------- */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/enroll.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* ----------Footer---------- */
  .footer-main {
    background-color:#E14D2A;
    padding: 24px 60px;
    color: white;
    width: 100%;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    justify-items: center;
  }
  
  @media (max-width: 360px) {
    .footer-grid {
      padding-left: 20px;
    }
  }
  
  .footer-grid p {
    margin: 10px 0;
    color: #fff;
    width: 100%;
  }

/* -----------SEJARAH----------- */
.sejarah-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/SEJARAH.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sejarah-header h1 {
    margin-top: 100px;
}

.deskripsisejarah {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.h2smk {
    font-weight: 800px;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

section {
    margin: auto;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'arial rounded';
    color: #364F6B;
}

.sejarahwk p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 1px 0px;
}


/* -----------MATRIKULASI----------- */
.matrikulasi-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/MARTIKULASI.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.matrikulasi-header h1 {
    margin-top: 100px;
}

/* -----------PERPUSTAKAAN----------- */
.perpustakaan-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/PERPUSTAKAAN.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.perpustakaan-header h1 {
    margin-top: 100px;
}

/* -----------KANTIN----------- */
.kantin-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/KANTIN.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.kantin-header h1 {
    margin-top: 100px;
}

/* -----------MAKANAN SEHAT----------- */
.makanan-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/makanansehat.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.makanan-header h1 {
    margin-top: 100px;
}

@media screen and (max-width: 360px) {
    .sub-header h1 {
        font-size: 24px;
    }
    .deskripsisejarah {
        font-size: 15px
    }
    .h2smk {
        font-size: 24px;
    }
}

/* ----------FOOTER---------- */
footer{
    position: absolute;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #f44336;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}